# For PCBs designed using KiCad: http://www.kicad-pcb.org/
# Format documentation: http://kicad-pcb.org/help/file-formats/

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*~
_autosave-*
*.tmp
*-rescue.lib
*-save.pro
*-save.kicad_pcb

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# Exported BOM files
*.xml
*.csv

# Reinclude *.net as we require it to generate the pin mapping
!*.net
# Reinclude *.xml as we require it to generate the pin mapping
!*.xml

how_to_parse_the_kicad_netlist.pdf
.code-workspace.code-workspace
.vscode/settings.json

*-cache.lib
comments_scratch.txt

U*.h
log.txt